@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}
canvas {
  background-color: #3b6e3b;
}
.font-handwriting {
  font-family: "Patrick Hand", cursive;
}
